.header{
    width: 100%; 
    height: auto;
    aspect-ratio: 1920/440;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headtext{//padding-top: 18vh;
    h4 {
        
        white-space: pre-line;
        padding-top: 10px;
    }
}

