.popup-grid{width:70%;}
.content-grid{max-width:1200px; margin:0 auto;}
.grid1500{max-width:1500px; margin:0 auto;}

// margin & padding ___________________________
.mt-120{margin-top:120px}
.mb-120{margin-bottom:120px}

.pt-40{padding-top:40px}
.pt-60{padding-top:60px}
.pb-80{padding-bottom:80px}
.pb-40{padding-bottom:40px}

.py-A{padding:100px 0 60px}
.py-B{padding:40px 0 60px}
.py-C{padding:100px 0 80px}

@media (max-width:786px){
    .mt-120{margin-top:80px}
}