

.img-fluid{
  width: 350px;
  height: auto;
  max-width: 100%;}


//info 관련 정렬
.info-box{margin-left: 30px;}

//동물이름 및 버튼  
.info-title{width: 200px; 
  display: flex;
  align-items: center;
  
}
//입양완료 
.recruit{width: 50px; height: 20px; 
  border-radius: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  
}

.detail-btn{
  width: 85px; height: 37px; 
  border-radius: 7px;
  background-color: #3A7F78;
  text-align: center;
  line-height: 37px;
  color: white;
  margin-left: 2.5vw;
}
.detail-wrap{
  display: flex;
  margin-left: -30px;
}

.detail-content{margin-left: 1vw;}
.author-interaction-section{margin-left: 3vw;}
.author-info{margin-left: -40px;}

.report-btn{border-radius: 50px;}

.r-ml1{margin-left: 30px;}
.r-ml2{margin-left:50px;}

.warning-notes-box{ 
  max-width: 450px;
  margin: 0 auto;
  text-align: left;
 }


.dotLine{
  width: 100%;
  border: 1px dotted #DADADA;
  margin-top: 20px;
  margin-bottom: 20px;
}





/* src/styles/_PostModal.scss */

// Bootstrap 변수를 오버라이드하거나 직접 사용


