html, * {
    margin:0; padding:0;
    color:#2e3a3a;
    word-break:keep-all;
}

*, *::before, *::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit;}
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0;}
p{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal; margin:0;}
button{cursor:pointer;}

.dropdown-toggle::after {display: none;}
