@import 'reset';
@import 'font';
@import 'color';
@import 'grid';




//한글_______________________________________________

@font-face {
    font-family: 'S-CoreDream';
    src: url('../assets/fonts/S-CoreDream-5Medium.woff2') format('woff2'),
    url('../assets/fonts/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../assets/fonts/S-CoreDream-4Regular.woff2') format('woff2'),
    url('../assets/fonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../assets/fonts/S-CoreDream-3Light.woff2') format('woff2'),
    url('../assets/fonts/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('../assets/fonts/S-CoreDream-6Bold.woff2') format('woff2'),
    url('../assets/fonts/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('../assets/fonts/Cafe24Ohsquare.woff') format('woff'),
    url('../assets/fonts/Cafe24Ohsquare.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




//영문_______________________________________________

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A;
}




//숫자_______________________________________________

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}



//설정__________________________________________

body {
  font-family: 'Montserrat', 'Poppins', 'S-CoreDream', sans-serif;
  font-weight: 400;
  color:#2e3a3a;
}