.warp{
    width: 100%;
    aspect-ratio:3/4;
    border-radius:30px;
    border:none;
    box-shadow:0 0 8px rgba(0,0,0,.25);
    overflow:hidden;
    margin-top: 50px;

    .cardImg{
        width:100%;
        height: 100%;
        aspect-ratio:1/1;
        overflow:hidden;
        box-sizing: border-box;

        .imagefit{height: 100%; object-fit: cover;}
    }

    .hashtag{
        padding:5px 10px;
        border:1px solid;
        border-radius:20px;
    }
    
    .title{
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .side{
        margin-top:2px;
        gap:6px;
        span:nth-child(2){
            padding:0px 5px;
            border-color:#DADADA !important;
        }
    }
}
