.search{
    border:1px solid;
    border-radius:100px;
    width:100%;
    padding:4px;
    padding-left:0;
    gap:4px;
    background-color:#fff;
    .searchWrap{padding-left:20px; overflow:hidden; min-width:0;}
    
    .form{
        flex:1;
        height:100%;
        border:none;
        background-color:transparent;
        white-space: nowrap;
        overflow:hidden;
        text-overflow:clip;

        &:focus{outline:none; box-shadow:none; background-color:#f9f9f9}  
        &::placeholder, &.dropdown{color:#BDBDBD;}
        &.dropdown{
            padding:.375rem .75rem;
            border-radius: 0.375rem;
            text-align:start;
            &:focus{background-color:#f9f9f9}
        }
    }

    .searchBtn{
        border:none;
        border-radius: 0px 25px 25px 50px !important;
        width: 120px; height:40px;
        gap:5px;

        .icon{
            fill:#fff;
            width:20px; height:20px;
        }

        .iconTxt{color:#fff;}
    }
}

.select{
    margin-top:.25em;
    border:none;
    max-width:100%;
    width:100%;
    border-radius:20px;
    box-shadow:0 0 30px rgba(0,0,0,.1);

    .selectBg{
        padding:20px;
        gap:12px;

        .header{margin-top:15px; width:100%;}

        .label{
            border:none;
            height:50px;
            padding:12px;
            border-radius:10px;
            background-color: #FAF9F6;
            span{opacity: .7;}
        }


        .selectBody{
            height:100px;
            padding:5px;
            border-radius:10px;
            background-color:#FAF9F6;
            margin-bottom:10px;
            overflow:hidden;

            .scroll{
                padding:5px 7px;
                height:100%;
                overflow-y:scroll;

                &::-webkit-scrollbar{width:6px; height:10px;}
                &::-webkit-scrollbar-thumb{
                    background:#F8B661;
                    border-radius:3px;
                } 
            }

            .itemList{
                position:relative;
                height:30px;
                text-align: start;
                background-color:transparent;
                border:none; 

                &::after{
                    content:"";
                    position:absolute;
                    inset:0;
                    background-color:#FDE8C7;
                    mix-blend-mode:multiply;
                    transition: all 0.2s ease;
                    opacity:0;
                }

                &:hover::after{opacity:0.3;}}
        }

        .dropBtn{
            width:100px;
            border:none;
            border-radius:50px;
            padding:12px 20px;
            font-size:14px;
            font-weight:500;
            line-height:1.5em;
            margin-bottom:20px;
        }

    }
}

:global(.popover), :global(.popober *){font-family:'S-CoreDream', sans-serif;}
:global(.popover-arrow){display: none !important;}