.navSide{
    position:fixed;
    top:150px; right:4vw;
    width:80px; height:380px;
    background:linear-gradient(#3A7F78, #285C57);
    border-radius:50px;
    box-shadow:0 0 20px rgba(0,0,0,.15);
    gap:30px;
    z-index:1000;

    .navContent{
        gap:20px;

        .content{
            color:#fff;
            text-align: center;
            gap:5px;
            &:hover{color:#F8B661;}

            .icon{
                width:32px; height:32px;
                fill:#F8B661;
            }
        }
    }
     
    .topBtn{
        aspect-ratio:1/1;
        width:80px; margin-bottom:-1px;
        border:none;
        border-radius:0 50px 50px 50px;
        &:hover{background-color:#F8B661;}

        .topIcon{
            width:32px; height:32px;
            stroke:#fff;
        }
    }
}

@media (max-width:768px){
    .navSide{display:none;}
}