.footer{
    position:relative;
    bottom:0;
    padding:60px 0;
    font-family:'Montserrat', 'S-CoreDream',sans-serif !important;

    .content{
        & li:not(:last-child)::after{
            content:"";
            display:inline-block;
            width:1px;
            height:0.8em;
            background:#DADADA;
            margin:0 12px;
        }
    }

    p{font-weight:600;}
    a{text-decoration:underline;}
}