.header{
    height:80px;
    border-radius:20px;
}

.content{
    height:100px;

    .titleBadge{
        border-radius:10px;
        margin-right:24px;
    }

    .icon{
        width:20px; height:20px;
        fill:#707070;
    }
    
    .title{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    time{text-align: center;}
}



.noTop{
    .topIcon{
        width:36px;height:36px;
        fill:#FDE8C7;
    }
}
